[Desktop Entry]
Name=Emerging Plasmoid
Name[ast]=emerging
Name[bg]=emerging
Name[bs]=emerging
Name[ca]=emerging
Name[ca@valencia]=emerging
Name[cs]=emerging
Name[da]=emerging
Name[de]=emerging
Name[el]=emerging
Name[en_GB]=emerging
Name[eo]=emerging
Name[es]=emerging
Name[et]=emerging
Name[fi]=emerging
Name[fr]=emerging
Name[ga]=emerging
Name[gl]=emerging
Name[hu]=emerging
Name[it]=emerging
Name[ja]=emerging
Name[kk]=emerging
Name[km]=emerging
Name[ko]=emerging
Name[lv]=emerging
Name[nb]=emerging
Name[nds]=emerging
Name[nl]=emerging
Name[nn]=emerging
Name[pa]=emerging
Name[pl]=emerging
Name[pt]=emerging
Name[pt_BR]=emerging
Name[ro]=emerging
Name[ru]=emerging
Name[sq]=emerging
Name[sr]=emerging
Name[sr@ijekavian]=emerging
Name[sr@ijekavianlatin]=emerging
Name[sr@latin]=emerging
Name[sv]=emerging
Name[tr]=emerging
Name[ug]=emerging
Name[uk]=emerging
Name[x-test]=xxemergingxx
Name[zh_CN]=emerging
Name[zh_TW]=emerging
Comment=Plasma emerging
Comment[ast]=Plasma emerging
Comment[bs]=Plazma emerging
Comment[ca]=Plasma emerging
Comment[ca@valencia]=Plasma emerging
Comment[cs]=Plasma emerging
Comment[da]=Plasma emerging
Comment[de]=Plasma emerging
Comment[el]=Plasma emerging
Comment[en_GB]=Plasma emerging
Comment[eo]=Plasma emerging
Comment[es]=Plasma emerging
Comment[et]=Plasma emerging
Comment[fi]=Plasma emerging
Comment[fr]=Plasma emerging
Comment[ga]=Plasma emerging
Comment[gl]=Plasma emerging
Comment[hu]=Plasma emerging
Comment[it]=Plasma emerging
Comment[ja]=Plasma emerging
Comment[kk]=Plasma emerging
Comment[km]=ប្លាស្មា emerging
Comment[ko]=Plasma emerging
Comment[lv]=Plasma emerging
Comment[nb]=Plasma emerging
Comment[nds]=Plasma emerging
Comment[nl]=Plasma emerging
Comment[nn]=Plasma emerging
Comment[pa]=ਪਲਾਜ਼ਮਾ emerging
Comment[pl]=Plazma emerging
Comment[pt]=Plasma emerging
Comment[pt_BR]=Plasma emerging
Comment[ro]=Plasma emerging
Comment[ru]=Plasma emerging
Comment[sq]=Plasma emerging
Comment[sr]=Плазмин emerging
Comment[sr@ijekavian]=Плазмин emerging
Comment[sr@ijekavianlatin]=Plasmin emerging
Comment[sr@latin]=Plasmin emerging
Comment[sv]=Plasma emerging
Comment[tr]=Plasma emerging
Comment[uk]=Плазма emerging
Comment[x-test]=xxPlasma emergingxx
Comment[zh_CN]=Plasma emerging
Comment[zh_TW]=Plasma emerging
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_emerging
X-KDE-PluginInfo-Author=Leonardo Guilherme de Freitas
X-KDE-PluginInfo-Email=leonardo.guilherme@gmail.com
X-KDE-PluginInfo-Name=emerging
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

